*{
	margin: 0;
	padding: 0;
	user-select: none;
	font-family: "Times New Roman";
}
#area{
	width: 100dvw;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
}
#board{
	width: 400px;
	aspect-ratio: 1/1;
	display: grid;
	grid-template-columns: repeat(8, 50px);
	grid-template-rows: repeat(8, 50px);
	padding: 5px;
	background-color: #808080;
}
.square{
	text-align: center;
	line-height: 50px;
	font-size: 25px;
	background-color: #ffffff;
	color: #ffffff;
	-webkit-text-stroke: 1px #000000;
	paint-order: stroke fill;
	text-transform: uppercase;
	overflow: hidden;
}
.dark{
	background-color: #000000;
}
.black{
	color: #000000;
	-webkit-text-stroke: 1px #ffffff;
	paint-order: stroke fill;
}
.selected{
	box-shadow: inset 0 0 0 5px rgba(255, 0, 0, 0.75);
}
.opp{
	transform: rotate(180deg);
}
@media(width < 410px), (height < 460px){
	#area *{
		display: none;
	}
}